<p> hi! </p>
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>sum test</title>#}
{#</head>#}
{#<body>#}
{#    <p> enter two number</p>#}
{#    <form action="Line/test"method="get>">#}
{#        a: <input type="text" id="a" name="a"> <br>#}
{#        b: <input type="text" id="b" name="b"> <br>#}
{#    </form>#}
{#    <button type="button" id="sumButton"> summit </button>#}
{#    <p> result : <span id="result">  </span></p>#}
{##}
{#    <script>#}
{#        $(document).ready(function () {#}
{#            $("#train").click(function () {#}
{#                var a = $("#a").val()#}
{#                var b = $('#b').val()#}
{#                $.get("/topic/train/query/",#}
{#                {#}
{#                    'a':a,#}
{#                    'b':b#}
{#                },#}
{#                function (data) {#}
{#                    alert("訓練完成!!")#}
{#                    $('#result').html(data)#}
{#                });#}
{#            });#}
{#        });#}
{#    </script>#}
{##}
{##}
{#</body>#}
{#</html>#}